.jumbotron.hero{
  background-image: url("../images/Ford F-150 Raptor.jpg");
  background-repeat: no-repeat;
  background-position: 50% 25%;
  background-size: cover;
  color:  white;
}

.jumbotron.vdp-hero{
	background-image: url("../images/f1516_summerse.jpg");
	background-position:  top right;
	background-repeat: no-repeat;
	background-size:  cover;
	height:  450px;
	margin-top:  30px;
}

.jumbotron.hero h1,
.jumbotron.hero p{
  text-shadow: 2px 2px #000;
}

footer{
  background-color:  #333;
  color:  white;
  padding:  20px 0;
}